/*FONT*/
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;500;600&display=swap');

:root {
    --header-height: 3.5rem;
    --hue: 162;
    --first-color: hsl(var(--hue), 100%, 40%);
    --first-color-alt: hsl(var(--hue), 56%, 35%);
    --title-color: hsl(228, 8%, 95%);
    --text-color: hsl(228, 8%, 65%);
    --body-color: hsl(228, 15%, 20%);
    --container-color: hsl(228, 15%, 15%);

    /* FONTS */
    --body-font: 'Fira Sans', sans-serif;
    --biggest-font-size: 2rem;
    --bigger-font-size: 1.25rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;

    /*FONT weight*/

    --font-regular: 400;
    --font-medium: 500;
    --font-semi-bold: 600;

    /*z index*/
    --z-tooltip: 10;
    --z-fixed: 100;
}

/*Responsive tipography*/

@media screen and (min-width: 1152px) {
    :root {
        --biggest-font-size: 4rem;
        --bigger-font-size: 2rem;
        --h1-font-size: 2.25rem;
        --h2-font-size: 1.5rem;
        --h3-font-size: 1.25rem;
        --normal-font-size: 1rem;
        --small-font-size: .875rem;
        --smaller-font-size: .813rem;
    }

}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

input,
textarea,
button,
body {
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
}

body {
    background-color: var(--body-color);
    color: var(--text-color)
}

input,
textarea,
button {
    outline: none;
    border: none;
}

h1,
h2,
h3,
h4 {
    color: var(--text-color);
    font-weight: var(--font-medium);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img,
svg {
    max-width: 100%;
    height: auto;
}

/*REUSABLE CSS CLASSES*/

.container {
    max-width: 1120px;
    margin-inline: 1.5rem;
}

.grid {
    display: grid;
    gap: 1.5rem;
}

.section {
    padding-block: 5rem 2rem;
    align-items: center;
}

/*Specific css*/



.header,
.home,
.skills,
.projects {
    /*Different sections*/
    background-color: var(--container-color);
}

.header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: var(--z-fixed);
}

.nav {
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.nav__list {

    display: flex;
    flex-direction: row;
    column-gap: 3rem;
}

.nav__logo {
    color: var(--title-color);
    font-weight: var(--font-semi-bold);
}

.nav__logo span {
    color: var(--first-color);
}

.nav__link {
    color: var(--title-color);
    transition: color .4s;
}

.nav__link:hover {
    color: var(--first-color);
}

.button {
    display: inline-block;
    background-color: var(--first-color);
    padding: 1rem 1.75rem;
    border-radius: 0.5rem;
    color: var(--title-color);
    font-weight: var(--font-medium);
    transition: box-shadow .4s;
}

.button:hover {
    box-shadow: 0 8px 24px hsla(var(--hue), 100%, 40%, .25);
}

/*HOME*/

.home {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.home__container {
    grid-template-columns: 455px 550px;
    column-gap: 7rem;
    padding-block: 2rem 3rem;
    margin-inline: auto;
    align-items: center;
}

.home__data {
    margin-bottom: 2rem;
}

.home__blob {
    fill: var(--first-color);
    filter: drop-shadow(0 12px 12px hsla(var(--hue), 100%, 40%, .2));
    width: 550px;
}

.home__content {
    row-gap: 4.5rem;
}

.home__description {
    margin-block: 1.5rem 2.5rem;
}

.home__social {
    display: flex;
    justify-self: center;
    column-gap: 2rem;
}

.home__social-link {
    display: flex;
    background-color: var(--first-color-alt);
    padding: .5rem;
    color: var(--title-color);
    font-size: 1.5rem;
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    transition: transform .4s;

}

.home__social-link:hover {
    transform: translateY(-.25rem);
}

.home__subtitle span,
.home__title {
    color: var(--first-color);
}

.home__title {
    font-size: var(--h1-font-size);
    font-weight: var(--font-semi-bold);
}

/*ABOUT*/

.about {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.about__data {
    text-align: initial;
}

.about__container {
    grid-template-columns: 455px 550px;
    column-gap: 7rem;
    padding-block: 2rem 3rem;
    margin-inline: auto;
    align-items: center;
}

.section__subtitle span {
    color: var(--first-color);
}

.section__title {
    font-size: var(--h1-font-size);
    margin-bottom: 2rem;
}

.section__description {
    margin-bottom: 2rem;
}

.about__blob path {
    stroke: var(--first-color);
    width: 550px;
}

/*SKILLS*/

.skills {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.skills__container {
    position: relative;
    grid-template-columns: 340px 425px;
    column-gap: 10rem;
    padding-bottom: 4rem;
    justify-content: center;
}

.skills__description {
    margin-bottom: 3rem;
}

.skills__content,
.skills__block {
    display: grid;
    column-gap: 8rem;
}

.skills__content {
    grid-template-columns: repeat(2, max-content);
    column-gap: 8rem;
    justify-content: center;
    align-items: center;
}

.skills__block {
    row-gap: 1.5rem;
    list-style: decimal-leading-zero;
}

.skills__item {
    font-weight: var(--font-medium);
    font-size: var(--h3-font-size);
    color: var(--title-color);
}

.skills__item::marker {
    color: var(--first-color);
}

/*SERVICES*/

.services {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.services__container {
    row-gap: 2rem;
    padding-block: 1rem;
}

.services__data {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 2rem;
    align-items: center;
}

.services__card {
    background-color: var(--container-color);
    padding: 3rem 1.25rem;
    align-items: center;
    text-align: center;
}

.services__card:hover {
    border: 2px solid var(--first-color);
}

.services__title {
    margin-bottom: 2rem;
}

.services__icon {
    display: block;
    font-size: 4rem;
    color: var(--first-color);
    margin-bottom: .75rem;
}

/*PROJECTS*/

.projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.projects__data {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    row-gap: 3rem;
    column-gap: 2rem;
}

.projects__card {
    position: relative;
    border-radius: 1rem;
    height: 200px;
    width: 360px;
    overflow: hidden;
}

.projects__modal {
    position: absolute;
    left: 0;
    bottom: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, hsla(0, 0%, 0%, 0) 0%, hsla(var(--hue), 70%, 40%, .8) 120%);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: bottom .4s;
}

.projects__card:hover .projects__modal {
    bottom: 0;
}

.projects__title {
    color: var(--title-color);
    font-weight: var(--font-medium);
}

.projects__subtitle {
    color: var(--title-color);
    font-weight: var(--font-regular);
}

.projects__button {
    color: var(--title-color);
}

/*CONTACT*/

.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact__container {
    grid-template-columns: 800px;
    padding-block: 2.5rem 2rem;
}

.contact__form,
.contact__data {
    display: grid;
    row-gap: 1rem;
}

.contact__form {
    position: relative;
}

.contact__text,
.contact__name,
.contact__email {
    padding: 1rem 1.25rem;
    border-radius: .5rem;
    background-color: var(--container-color);
    color: var(--title-color);
}


.contact__name::placeholder {
    color: var(--text-color);
}

.contact__email::placeholder {
    color: var(--text-color);
}

.contact__text::placeholder {
    color: var(--text-color);
}

.contact__text {
    height: 20rem;
    resize: none;
    margin-bottom: 2rem;
}

.contact__button {
    justify-self: center;
    cursor: pointer;
}

/*FOOTER*/

.footer {
    background-color: var(--container-color);
    display: grid;
    grid-template-columns: repeat(3, max-content);
    justify-content: space-between;
    padding-block: 2rem 3rem;
}

.footer__title {
    font-size: var(--h2-font-size);
    margin-left: 2rem;
}

.footer__title span {
    color: var(--first-color);
}

.footer__socials {
    display: flex;
    justify-self: center;
    column-gap: 2rem;
    flex-direction: row;
    
}

.footer__social-link {
    display: flex;
    position: relative;
    background-color: var(--first-color-alt);
    padding: .5rem;
    color: var(--title-color);
    font-size: 1.5rem;
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    transition: transform .4s;
}

.footer__social-link:hover {
    transform: translateY(-.25rem);
}

.footer__copy {
    margin-right: 2rem;
}